absl-py
astor
certifi
cffi
cmake
dlib
face-recognition
face-recognition-models
ffmpy
gast
grpcio
h5py
Keras
Markdown
munch
numpy
nvidia-ml-py3
olefile
opencv-python
pathlib
Pillow
PIL
pretrainedmodels
protobuf
pycparser
scandir
six
termcolor
torch
torchvision
torchsummary
tqdm
